

<h2 class="text-center text-primary">Dashboard FORD</h2>

<div class="card border-dark col " style="max-width: 18rem;">
  <div class="card-header fs-5">Veículo</div>
    <div class="card-body">
    <select name="" id=""></select>

    </div>
</div>




<!-- CARDS
<div class="container mt-4" style="height:500px;">

  <div class="row  justify-content-center gap-4">

    <div class="card border-dark col " style="max-width: 18rem;">
      <div class="card-header fs-5">Veículo</div>
      <div class="card-body">


        <div class="input-group mb-4">

          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>


      </div>
    </div>

    <div class="card border-dark col" style="max-width: 18rem;">
      <div class="card-header fs-5">Total de Vendas</div>
      <div class="card-body">
        <p class="card-text">Unid.</p>
      </div>
    </div>

    <div class="card border-dark col" style="max-width: 18rem;">
      <div class="card-header fs-5">Conectados</div>
      <div class="card-body">
        <p class="card-text">Unid.</p>
      </div>
    </div>

    <div class="card border-dark col" style="max-width: 18rem;">
      <div class="card-header fs-5">Update Software</div>
      <div class="card-body">
        <p class="card-text">Unid.</p>
      </div>
    </div>


</div>-->


<!-- TABLE



<div class="row align-bottom">
<table class="table table-bordered table-responsive ">
  <thead class="thead-primary bg-primary text-white">
    <tr>
      <th scope="col">Código-Vin</th>
      <th scope="col">Odômetro</th>
      <th scope="col">Nível de Combustível</th>
      <th scope="col">Status</th>
      <th scope="col">Lat.</th>
      <th scope="col">Long.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <input type="text">
      </th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="100%" class="bg-primary"></td>
    </tr>
  </tfoot>
</table>
</div>


 div aleatória >>>> <div class="card">
      <div class="card-header fs-5"> Veículo</div>
      <div class="card-body"></div>
  </div> <<<<<<


</div>
-->
